.navbar-dropdown {
    &.navbar-nav {
        .nav-item {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                @media only screen and (min-width: 767px) {
                    padding-right: 0;
                }
            }

            .dropdown {
                .dropdown-toggle {
                    display: flex;
                    align-items: center;
                    padding: 0;

                    &:after {
                        display: none!important;
                    }

                    &.btn {
                        &.btn-transparent {

                            .profile {
                                display: flex;
                                align-items: center;

                                .profile-text {
                                    font-size: 1.3rem;
                                    font-weight: 400;
                                    line-height: 1.6rem;
                                    letter-spacing: 0rem;
                                    color: $tertiary-clr;
                                    margin-right: 1rem;
                                    
                                    .greetings {
                                        color: $gull-gray;
                                    }
                                }
    
                                .avatar {
                                    img {
                                        width: 3.6rem;
                                        height: 3.6rem;
                                        border-radius: .4rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .dropdown-menu {
                    

                    &[data-bs-popper] {
                        position: absolute;
                        width: 17.4rem;
                        top: calc(100% + 27px);
                        left: auto!important;
                        right: 0;
                        background-color: $secondary-clr;
                        border-color: $secondary-clr;
                        border-radius: .8rem;
                        padding: 1rem;
                    }

                    .dropdown-item {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        padding: .8rem 1.6rem;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: $tertiary-clr;
                        border-radius: .4rem;
                        transition: all 0.3s ease;


                        &:hover {
                            background-color: $primary-clr;

                            svg {
                                fill: $chetwode-blue;
                            }

                            .dropdown-item-text {
                                color: $chetwode-blue;
                            }
                        }

                        .dropdown-item-text {
                            color: $tertiary-clr;
                            padding: 0rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}