/////////////////////////////////////////
// Typography
$primary-font: 'Sen', sans-serif;;
$primary-font-size: 1.6rem;
$primary-font-weight: 400;
$primary-font-line-height: 1.8;

/////////////////////////////////////////
// Colors
$primary-clr: #050405;
$secondary-clr: #17181B;
$tertiary-clr: #637381;
$teritary-secondary-clr: #95B3CD;


$dark: #202124;
$white: #ffffff;
$gull-gray: #959CB6;
$chetwode-blue: #8C87D1;
$blue-violet: #564FB1;
$tuna: #323246;
/////////////////////////////////////////
// Shadows


/////////////////////////////////////////
// Iconmon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;

$icon-clock: "\e900";
$icon-fb: "\e901";
$icon-filter: "\e902";
$icon-instagram: "\e903";
$icon-linkedin: "\e904";
$icon-location: "\e905";
$icon-monitor: "\e906";
$icon-moon: "\e907";
$icon-notification: "\e908";
$icon-sun: "\e909";
$icon-twitter: "\e90a";




